---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="John Doe's About"
  seoTitle="About John Doe, Software Engineer"
  seoDesc={"Hi there! My name is John Doe, and I'm a software engineer " +
    "with over 5 years of experience in the industry"}
>
  <div class="w-6/12 mx-auto">
    <h1 class="text-5xl">About</h1>
    <img
      src="/public/images/about.png"
      
    />
    <p><br />
      Hi there! My name is JMario is a skilled software developer based in Ecuador, 
      specializing in web development with a versatile toolkit that includes Python, 
      Ruby, Go, and PHP with a passion for creating efficient and scalable solutions.
    </p><br />
    <p>
      My expertise His expertise extends to using Django and FastAPI frameworks to build dynamic 
      web applications that meet client needs effectively. In Ruby, Mario harnesses the power of 
      Ruby on Rails to develop elegant and maintainable web solutions, emphasizing rapid prototyping 
      and code simplicity. 
    </p><br />
    <p>
      In addition to my technical skills, I pride myself on my ability to
      collaborate with team members and communicate effectively with
      stakeholders. I'm a natural problem solver and enjoy tackling complex
      challenges.
    </p><br />
  </div>
</MainLayout>